In [1]:
!python --version

Python 3.7.9

In [2]:
import py_entitymatching as em
import pandas as pd
import os, sys

In [ ]:
## Prepare the dataset

In [6]:
## Read dataset
A = em.read_csv_metadata('./dataset/citeseer.csv',low_memory=False) # setting the parameter low_memory to False  to speed up loading.
B = em.read_csv_metadata('./dataset/dblp.csv', low_memory=False)

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [7]:
len(A), len(B)

(1823978, 2512927)

In [8]:
A.head()

,id,title,authors,journal,month,year,publication_type
0,1,An Arithmetic Analogue of Bezouts Theorem,David Mckinnon,NaN,NaN,NaN,NaN
1,2,Thompsons Group F is Not Minimally Almost Convex,"James Belk, Kai-uwe Bux",NaN,NaN,2002.0,NaN
2,3,Cognitive Dimensions Tradeoffs in Tangible User Interface Design,"Darren Edge, Alan Blackwell",NaN,NaN,NaN,NaN
3,4,"ACTIVITY NOUNS, UNACCUSATIVITY, AND ARGUMENT MARKING IN YUKATEKAN SSILA meeting; Special Session...","J. Bohnemeyer, Max Planck, I. Introduction",NaN,NaN,2002.0,NaN
4,5,PS1-6 A6 ULTRASOUND-GUIDED HIFU NEUROLYSIS OF PERIPHERAL NERVES TO TREAT SPASTICITY AND,"J. L. Foley, J. W. Little, F. L. Starr Iii, C. Frantz",NaN,NaN,NaN,NaN

In [9]:
B.head()

,id,title,authors,journal,month,year,publication_type
0,1,"Klaus Tschira Stiftung gemeinntzige GmbH, KTS",Klaus Tschira,NaN,NaN,2012,www
1,2,The SGML/XML Web Page,Robin Cover,NaN,NaN,2006,www
2,3,The Future of Classic Data Administration: Objects + Databases + CASE,Arnon Rosenthal,NaN,NaN,1998,www
3,4,XML Query Data Model,"Mary F. Fernandez, Jonathan Robie",NaN,NaN,2001,www
4,5,The XML Query Algebra,"Peter Fankhauser, Mary F. Fernndez, Ashok Malhotra, Michael Rys, Jrme Simon, Philip Wadler",NaN,NaN,2001,www

In [10]:
# Set 'id' as the keys to the input tables
em.set_key(A, 'id')
em.set_key(B, 'id')

True

## Downsampling

In [12]:
# Downsample the datasets 
sample_A, sample_B = em.down_sample(A, B, size=1000, y_param=1, show_progress=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/sampler/down_sample.py:347: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  sample_table_b = table_b.ix[b_tbl_indices]

In [13]:
# Display the number of tuples in the sampled datasets
len(sample_A), len(sample_B)

(980, 1000)

In [14]:
# Show the metadata of sample_A, sample_B
em.show_properties(sample_A)

id: 5593348880
key: id

In [15]:
em.show_properties(sample_B)

id: 6151775568
key: id

## Data Exploration

In [33]:
## Open OpenRefine Server

## Blocking

In [ ]:
## Use overlap blocer as an example

In [34]:
# Instantiate overlap blocker object
ob = em.OverlapBlocker()

In [45]:
# Specify the tokenization to be 'word' level and set overlap_size to be 3.
C1 = ob.block_tables(sample_A, sample_B, 'title', 'title', word_level=True, overlap_size=5 , 
                    l_output_attrs=['title', 'authors', 'journal', 'year'], 
                    r_output_attrs=['title','authors', 'journal', 'year'],
                    show_progress=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/generic.py:5191: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/generic.py:5192: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

In [46]:
# Display first 5 tuple pairs in the candidate set.
C1.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_journal,ltable_year,rtable_title,rtable_authors,rtable_journal,rtable_year
0,0,776909,2410517,BMC Bioinformatics BioMed Central Methodology article Data mining of enzymes using specific pept...,"Uri Weingart, Yair Lavi, David Horn",NaN,2009.0,Data mining of enzymes using specific peptides.,"Uri Weingart, Yair Lavi, David Horn",BMC Bioinformatics,2009
1,1,71768,525064,Convergence of The Wake-Sleep Algorithm,"Shiro Ikeda, Hiroyuki Nakahara, Shun-ichi Amari",NaN,NaN,Convergence of the Wake-Sleep Algorithm.,"Shiro Ikeda, Shun-ichi Amari, Hiroyuki Nakahara",NaN,1998
2,2,28584,1876050,"SELECTION, IMPLEMENTATION AND USE OF UNIX-BASED LIBRARY SYSTEMS IN A CAMPUS NETWORKED ENVIRONMENT","Laurie E. Stackpole, Carolyn D. Thomas",NaN,NaN,"Environment selection, training, and implementation in high-level expert systems environments: E...","Mike Morrison, Joline Morrison, Olivia R. Liu Sheng, Kunihiko Higa",Journal of Systems and Software,1992
3,3,1661455,173775,Proceedings of the Eurosensors XXIII conference Localization in Wireless Ad-hoc Sensor Networks ...,"Xinwei Wang A, Ole Bischoff A, Rainer Laur A, Steffen Paul A",NaN,NaN,Analysis on the redundancy of wireless sensor networks.,"Yong Gao, Kui Wu, Fulu Li",NaN,2003
4,4,66248,173775,To appear in the ACM Transactions on Sensor Networks Energy-driven Distribution of Signal Proces...,"Chung-ching Shen, William L. Plishker, Shuvra S. Bhattacharyya, Neil Goldsman",NaN,NaN,Analysis on the redundancy of wireless sensor networks.,"Yong Gao, Kui Wu, Fulu Li",NaN,2003

In [47]:
## Exercise1: how to add custom stopwords like "title"

In [105]:
## Exercise2: how to make multiple rules in the blocker?
## Exercise3: how to define a blackbox blocker using your own rules?

## Generating Features for Manually¶

In [48]:
## Getting Attribute Types
atypes1 = em.get_attr_types(sample_A)
atypes2 = em.get_attr_types(sample_B)

Column month does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column month
Column month does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column month

In [49]:
atypes1.keys()

dict_keys(['id', 'title', 'authors', 'journal', 'month', 'year', 'publication_type', '_table'])

In [58]:
## Getting Attribute Correspondences
block_c = em.get_attr_corres(sample_A, sample_B)
id(A), id(block_c['ltable']), id(B), id(block_c['rtable'])

(5533898576, 5593348880, 6151606672, 6151775568)

In [59]:
block_c['corres']

[('id', 'id'),
 ('title', 'title'),
 ('authors', 'authors'),
 ('journal', 'journal'),
 ('month', 'month'),
 ('year', 'year'),
 ('publication_type', 'publication_type')]

In [50]:
## Getting tokenizers
# for blocking
tok = em.get_tokenizers_for_blocking()
# for matching
# tok = em.get_tokenizers_for_matching()

In [51]:
tok

{'qgm_2': <function py_entitymatching.feature.tokenizers._make_tok_qgram.<locals>.tok_qgram>,
 'qgm_3': <function py_entitymatching.feature.tokenizers._make_tok_qgram.<locals>.tok_qgram>,
 'wspace': <function py_entitymatching.feature.tokenizers.tok_wspace>,
 'alphabetic': <function py_entitymatching.feature.tokenizers.tok_alphabetic>,
 'alphanumeric': <function py_entitymatching.feature.tokenizers.tok_alphanumeric>,
 'dlm_dc0': <function py_entitymatching.feature.tokenizers._make_tok_delim.<locals>.tok_delim>}

In [52]:
## Getting Similarity Functions
# for blocking
sim = em.get_sim_funs_for_blocking()

# for matching
# sim = em.get_sim_funs_for_matching()

In [53]:
sim

{'affine': <function py_entitymatching.feature.simfunctions.affine>,
 'hamming_dist': <function py_entitymatching.feature.simfunctions.hamming_dist>,
 'hamming_sim': <function py_entitymatching.feature.simfunctions.hamming_sim>,
 'lev_dist': <function py_entitymatching.feature.simfunctions.lev_dist>,
 'lev_sim': <function py_entitymatching.feature.simfunctions.lev_sim>,
 'jaro': <function py_entitymatching.feature.simfunctions.jaro>,
 'jaro_winkler': <function py_entitymatching.feature.simfunctions.jaro_winkler>,
 'needleman_wunsch': <function py_entitymatching.feature.simfunctions.needleman_wunsch>,
 'smith_waterman': <function py_entitymatching.feature.simfunctions.smith_waterman>,
 'overlap_coeff': <function py_entitymatching.feature.simfunctions.overlap_coeff>,
 'jaccard': <function py_entitymatching.feature.simfunctions.jaccard>,
 'dice': <function py_entitymatching.feature.simfunctions.dice>,
 'monge_elkan': <function py_entitymatching.feature.simfunctions.monge_elkan>,
 'cosine': <function py_entitymatching.feature.simfunctions.cosine>,
 'exact_match': <function py_entitymatching.feature.simfunctions.exact_match>,
 'rel_diff': <function py_entitymatching.feature.simfunctions.rel_diff>,
 'abs_norm': <function py_entitymatching.feature.simfunctions.abs_norm>}

In [61]:
## Getting Features
feature_table = em.get_features(sample_A, sample_B, atypes1, atypes2, block_c, tok, sim)

In [62]:
feature_table.head()

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,id_id_exm,id,id,None,None,exact_match,<function id_id_exm at 0x143799b90>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,id_id_anm,id,id,None,None,abs_norm,<function id_id_anm at 0x12daf6050>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x12daf6170>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,id_id_lev_sim,id,id,None,None,lev_sim,<function id_id_lev_sim at 0x12daf6290>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x12daf63b0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [ ]:
#### Exercise: how to add a custom feature - to do Jaccard on title_authors and add it to feature table?

## Label the Sampled Set

In [63]:
# Label the sampled set
# Specify the name for the label column
G = em.label_table(C1, 'gold_label')

Column name (gold_label) is not present in dataframe
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/gui/table_gui.py:94: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  table.set_value(idxv[i], cols[j], val)

In [64]:
# Assume that we have labeled the data and stored it in 
# labeled_data_demo.csv

path_labeled_data = datasets_dir + os.sep + 'labeled_data_demo.csv'
G = em.read_csv_metadata(path_labeled_data, key='_id', 
                         fk_ltable='ltable_id', fk_rtable='rtable_id',
                         ltable=A, rtable=B)

Metadata file is not present in the given path; proceeding to read the csv file.

In [65]:
G.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_year,rtable_title,rtable_authors,rtable_year,label
0,0,l1223,r498,Dynamic Information Visualization,Yannis E. Ioannidis,1996,Dynamic information visualization,Yannis E. Ioannidis,1996,1
1,1,l1563,r1285,Dynamic Load Balancing in Hierarchical Parallel Database Systems,"Luc Bouganim, Daniela Florescu, Patrick Valduriez",1996,Dynamic Load Balancing in Hierarchical Parallel Database Systems,"Luc Bouganim, Daniela Florescu, Patrick Valduriez",1996,1
2,2,l1514,r1348,Query Processing and Optimization in Oracle Rdb,"Gennady Antoshenkov, Mohamed Ziauddin",1996,prospector: a content-based multimedia server for massively parallel architectures,"S. Choo, W. O'Connell, G. Linerman, H. Chen, K. Ganapathy, A. Biliris, E. Panagos, D. Schrader",1996,0
3,3,l206,r1641,An Asymptotically Optimal Multiversion B-Tree,"Thomas Ohler, Peter Widmayer, Bruno Becker, Stephan Gschwind, Bernhard Seeger",1996,A complete temporal relational algebra,"Debabrata Dey, Terence M. Barron, Veda C. Storey",1996,0
4,4,l1589,r495,Evaluating Probabilistic Queries over Imprecise Data,"Reynold Cheng, Dmitri V. Kalashnikov, Sunil Prabhakar",2003,Evaluating probabilistic queries over imprecise data,"Reynold Cheng, Dmitri V. Kalashnikov, Sunil Prabhakar",2003,1

## Select the best learned matchers

In [67]:
# Get the datasets directory
datasets_dir = em.get_install_path() + os.sep + 'datasets'

path_A = datasets_dir + os.sep + 'dblp_demo.csv'
path_B = datasets_dir + os.sep + 'acm_demo.csv'
path_labeled_data = datasets_dir + os.sep + 'labeled_data_demo.csv'

In [68]:
A = em.read_csv_metadata(path_A, key='id')
B = em.read_csv_metadata(path_B, key='id')
# Load the pre-labeled data
S = em.read_csv_metadata(path_labeled_data, 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [69]:
# Split S into I an J
IJ = em.split_train_test(S, train_proportion=0.5, random_state=0)
I = IJ['train']
J = IJ['test']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:104: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_train = labeled_data.ix[idx_train]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:105: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_test = labeled_data.ix[idx_test]

In [70]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')

In [71]:
# Generate a set of features
F = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [72]:
F.feature_name

0                          id_id_lev_dist
1                           id_id_lev_sim
2                               id_id_jar
3                               id_id_jwn
4                               id_id_exm
5                   id_id_jac_qgm_3_qgm_3
6             title_title_jac_qgm_3_qgm_3
7         title_title_cos_dlm_dc0_dlm_dc0
8                         title_title_mel
9                    title_title_lev_dist
10                    title_title_lev_sim
11        authors_authors_jac_qgm_3_qgm_3
12    authors_authors_cos_dlm_dc0_dlm_dc0
13                    authors_authors_mel
14               authors_authors_lev_dist
15                authors_authors_lev_sim
16                          year_year_exm
17                          year_year_anm
18                     year_year_lev_dist
19                      year_year_lev_sim
Name: feature_name, dtype: object

#### Extracting Feature Vector

In [74]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=F, 
                            attrs_after='label',
                            show_progress=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/feature/extractfeatures.py:233: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  l_dict[fk_ltable_val] = l_df.ix[fk_ltable_val]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/feature/extractfeatures.py:237: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  r_dict[fk_rtable_val] = r_df.ix[fk_rtable_val]

In [75]:
# Display first few rows
H.head()

,_id,ltable_id,rtable_id,id_id_lev_dist,id_id_lev_sim,id_id_jar,id_id_jwn,id_id_exm,id_id_jac_qgm_3_qgm_3,title_title_jac_qgm_3_qgm_3,...,authors_authors_jac_qgm_3_qgm_3,authors_authors_cos_dlm_dc0_dlm_dc0,authors_authors_mel,authors_authors_lev_dist,authors_authors_lev_sim,year_year_exm,year_year_anm,year_year_lev_dist,year_year_lev_sim,label
430,430,l1494,r1257,4,0.20,0.466667,0.466667,0,0.000000,0.000000,...,0.000000,0.000000,0.445707,44.0,0.083333,1,1.0,0.0,1.0,0
35,35,l1385,r1160,4,0.20,0.466667,0.466667,0,0.000000,0.025641,...,0.000000,0.000000,0.589417,43.0,0.271186,1,1.0,0.0,1.0,0
394,394,l1345,r85,4,0.20,0.000000,0.000000,0,0.090909,1.000000,...,0.951111,0.945946,0.822080,172.0,0.338462,1,1.0,0.0,1.0,1
29,29,l611,r141,3,0.25,0.666667,0.666667,0,0.090909,0.049383,...,0.000000,0.000000,0.531543,26.0,0.277778,1,1.0,0.0,1.0,0
181,181,l1164,r1161,2,0.60,0.733333,0.733333,0,0.076923,1.000000,...,0.592593,0.668153,0.684700,34.0,0.244444,1,1.0,0.0,1.0,1

In [76]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.notnull(H))

True

In [77]:
# Impute feature vectors with the mean of the column values.
H = em.impute_table(H, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

#### Selecting the best matcher using cross-validation

In [78]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        k=5,
        target_attr='label', metric_to_select_matcher='f1', random_state=0)
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.915322        0.950714    0.930980
1            RF           1.000000        0.950714    0.974131
2           SVM           0.977778        0.810632    0.883248
3        LinReg           1.000000        0.935330    0.966131
4        LogReg           0.985714        0.935330    0.958724

In [79]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1435d2310>,5,0.95,1.000000,0.764706,0.933333,0.928571,0.915322
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1435f02d0>,5,1.00,1.000000,1.000000,1.000000,1.000000,1.000000
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1435d23d0>,5,1.00,1.000000,0.888889,1.000000,1.000000,0.977778
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x143382e50>,5,1.00,1.000000,1.000000,1.000000,1.000000,1.000000
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x143384410>,5,1.00,0.928571,1.000000,1.000000,1.000000,0.985714

In [80]:
result['drill_down_cv_stats']['recall']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1435d2310>,5,0.95,1.000000,0.928571,0.8750,1.000000,0.950714
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1435f02d0>,5,0.95,1.000000,0.928571,0.8750,1.000000,0.950714
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1435d23d0>,5,0.90,0.923077,0.571429,0.8125,0.846154,0.810632
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x143382e50>,5,0.95,1.000000,0.928571,0.8750,0.923077,0.935330
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x143384410>,5,0.95,1.000000,0.928571,0.8750,0.923077,0.935330

In [81]:
result['drill_down_cv_stats']['f1']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1435d2310>,5,0.950000,1.000000,0.838710,0.903226,0.962963,0.930980
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1435f02d0>,5,0.974359,1.000000,0.962963,0.933333,1.000000,0.974131
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1435d23d0>,5,0.947368,0.960000,0.695652,0.896552,0.916667,0.883248
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x143382e50>,5,0.974359,1.000000,0.962963,0.933333,0.960000,0.966131
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x143384410>,5,0.974359,0.962963,0.962963,0.933333,0.960000,0.958724

In [82]:
### Exercise: how to add a feature to do Jaccard on title + authors and add it to the feature table?
## check if it improves the matcher

## Use a ML Matcher to Get Prediction and use Trigger to improve Results

In [83]:
# Split S into I an J
IJ = em.split_train_test(S, train_proportion=0.5, random_state=0)
I = IJ['train']
J = IJ['test']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:104: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_train = labeled_data.ix[idx_train]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:105: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_test = labeled_data.ix[idx_test]

In [84]:
# Create a Decision Tree Matcher
dt = em.DTMatcher(name='DecisionTree', random_state=0)

In [89]:
# Generate a set of features
feature_table = em.get_features_for_matching(A, B, validate_inferred_attr_types=False)

In [90]:
# We will remove many of the features here to purposly create a poor model. This will make it easier 
# to demonstrate triggers later
F = feature_table.drop([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])
F

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x1435c28c0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
15,authors_authors_lev_sim,authors,authors,None,None,lev_sim,<function authors_authors_lev_sim at 0x146d71320>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
16,year_year_exm,year,year,None,None,exact_match,<function year_year_exm at 0x146d71440>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
17,year_year_anm,year,year,None,None,abs_norm,<function year_year_anm at 0x146d71560>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
18,year_year_lev_dist,year,year,None,None,lev_dist,<function year_year_lev_dist at 0x146d71680>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
19,year_year_lev_sim,year,year,None,None,lev_sim,<function year_year_lev_sim at 0x146d717a0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [91]:
# Convert the I into a set of feature vectors using F
H = em.extract_feature_vecs(I, 
                            feature_table=F, 
                            attrs_after='label',
                            show_progress=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/feature/extractfeatures.py:233: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  l_dict[fk_ltable_val] = l_df.ix[fk_ltable_val]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/feature/extractfeatures.py:237: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  r_dict[fk_rtable_val] = r_df.ix[fk_rtable_val]

In [92]:
# Impute feature vectors with the mean of the column values.
H = em.impute_table(H, 
                exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [93]:
# Fit the decision tree to the feature vectors
dt.fit(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], target_attr='label')

In [94]:
# Use the decision tree matcher to predict if tuple pairs match
dt.predict(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'], target_attr='predicted_labels', 
           return_probs=True, probs_attr='proba', append=True, inplace=True)
H.head()

,_id,ltable_id,rtable_id,id_id_lev_dist,authors_authors_lev_sim,year_year_exm,year_year_anm,year_year_lev_dist,year_year_lev_sim,label,predicted_labels,proba
430,430,l1494,r1257,4.0,0.083333,1.0,1.0,0.0,1.0,0,0,0.0
35,35,l1385,r1160,4.0,0.271186,1.0,1.0,0.0,1.0,0,0,0.0
394,394,l1345,r85,4.0,0.338462,1.0,1.0,0.0,1.0,1,1,1.0
29,29,l611,r141,3.0,0.277778,1.0,1.0,0.0,1.0,0,0,0.0
181,181,l1164,r1161,2.0,0.244444,1.0,1.0,0.0,1.0,1,1,1.0

#### Debug the ML Matcher

In [96]:
# Split H into P and Q
PQ = em.split_train_test(H, train_proportion=0.5, random_state=0)
P = PQ['train']
Q = PQ['test']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:104: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_train = labeled_data.ix[idx_train]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/matcher/matcherutils.py:105: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  label_test = labeled_data.ix[idx_test]

In [97]:
# Debug RF matcher using GUI
em.vis_debug_dt(dt, P, Q, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'label'],
        target_attr='label')

# We see with the debugger that the false negatives have completely different values in the Title attribute.
# This is most likly because we removed all of the features that compare the Title attribute from each table earlier.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/evaluation/evaluation.py:172: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  false_pos_ls = list(new_data_frame.ix[false_positive_indices].index.values)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/evaluation/evaluation.py:173: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  false_neg_ls = list(new_data_frame.ix[false_negative_indices].index.values)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/debugmatcher/debug_gui_utils.py:69: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  d = table.ix[ls]

In [98]:
# We can see which tuples are not predicted correctly
H[H['label'] != H['predicted_labels']]

,_id,ltable_id,rtable_id,id_id_lev_dist,authors_authors_lev_sim,year_year_exm,year_year_anm,year_year_lev_dist,year_year_lev_sim,label,predicted_labels,proba
371,371,l650,r1594,4.0,0.120000,1.0,1.0,0.0,1.0,1,0,0.500000
259,259,l938,r1090,5.0,0.200000,1.0,1.0,0.0,1.0,1,0,0.333333
346,346,l1681,r693,4.0,0.238095,1.0,1.0,0.0,1.0,1,0,0.500000
184,184,l891,r485,4.0,0.137931,1.0,1.0,0.0,1.0,1,0,0.500000
11,11,l1189,r1674,4.0,0.222222,1.0,1.0,0.0,1.0,1,0,0.250000
121,121,l169,r521,4.0,0.153846,1.0,1.0,0.0,1.0,1,0,0.500000
267,267,l120,r1181,4.0,0.216667,1.0,1.0,0.0,1.0,1,0,0.500000
147,147,l867,r1263,4.0,0.142857,1.0,1.0,0.0,1.0,1,0,0.333333

In [ ]:
#### Use trigger to improve result

In [99]:
# Use the constructor to create a trigger
mt = em.MatchTrigger()

In [100]:
# Add two rules to the rule-based matcher

# Since we removed all of the features comparing Title earlier, we want to now add a rule that compares Titles
mt.add_cond_rule(['title_title_lev_sim(ltuple, rtuple) > 0.7'], feature_table)
# The rule has two predicates, one comparing the titles and the other looking for an exact match of the years
mt.add_cond_rule(['title_title_lev_sim(ltuple, rtuple) > 0.4', 'year_year_exm(ltuple, rtuple) == 1'], feature_table)
mt.get_rule_names()

odict_keys(['_rule_0', '_rule_1'])

In [101]:
# Since we are using the trigger to fix a problem related to false negatives, we want the condition to be 
# True and the action to be 1. This way, the trigger will set a prediction to 1 when the rule returns True.

mt.add_cond_status(True)
mt.add_action(1)

True

In [102]:
## Use the Trigger to improve results
preds = mt.execute(input_table=H, label_column='predicted_labels', inplace=False)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:228: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return (ft_df.ix[feature_name]['is_auto_generated'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:229: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  ft_df.ix[feature_name]['simfunction'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:230: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  ft_df.ix[feature_name]['left_attribute'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:231: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  ft_df.ix[feature_name]['right_attribute'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:232: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  ft_df.ix[feature_name]['left_attr_tokenizer'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/utils/generic_helper.py:233: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  ft_df.ix[feature_name]['right_attr_tokenizer'],
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/triggers/matchtrigger.py:236: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  l_row = l_tbl.ix[row[lid_idx]]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/py_entitymatching/triggers/matchtrigger.py:237: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  r_row = r_tbl.ix[row[rid_idx]]

In [103]:
# We were able to significantly reduce the number of incorrectly labeled tuple pairs
preds[preds['label'] != preds['predicted_labels']]

,_id,ltable_id,rtable_id,id_id_lev_dist,authors_authors_lev_sim,year_year_exm,year_year_anm,year_year_lev_dist,year_year_lev_sim,label,predicted_labels,proba
11,11,l1189,r1674,4.0,0.222222,1.0,1.0,0.0,1.0,1,0,0.25
86,86,l1570,r516,4.0,0.223684,1.0,1.0,0.0,1.0,0,1,0.00
267,267,l120,r1181,4.0,0.216667,1.0,1.0,0.0,1.0,1,0,0.50

In [104]:
# We can see that the two tuples that are still labeled incorrectly are due to the title and authors being in the
# wrong column for one of the tuples.
pd.concat([S[S['_id'] == 11], S[S['_id'] == 267]])

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_year,rtable_title,rtable_authors,rtable_year,label
11,11,l1189,r1674,"Weimin Du, Xiangning Liu, Abdelsalam Helal",Multiview Access Protocols for Large-Scale Replication,1998,Multiview access protocols for large-scale replication,"Xiangning Liu, Abdelsalam Helal, Weimin Du",1998,1
267,267,l120,r1181,"w. Bruce kroft, James callan, erik w. Brown",fast incrremental indexiing for fulltext informtion retreval,1994,Fast Incremental Indexing For Full-Text Information Retrieval,"Eric W. Brown, James P. Callan, W. Bruce Croft",1994,1