In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

## Raul G. Martinez
## PID: A12461871
## UCSD MAS DSE Cohort 6
## DSE 203 - Fall 2020
**------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

# Instructions

## Assignment 2

Due Nov 1 by 11:59pm 

Points 30 

Submitting a file upload 

Available Oct 23 at 12am - Nov 1 at 11:59pm 10 days

Data: citeseer.csv and dblp.csv  (in Canvas/Files)


**Your task:**

Entity Resolution of the two tables using the two different methods shown in class (dedupe and Anhai's py_entitymatching)

Your submission should include the  python scripts (includes SQL scripts) + results


**Suggested Reference:**

Jupyter Notebook I've uploaded: Entity Matching Complete Workflow.ipynb (Canvas/Files/Hands on/EM)

Anhai's Entity Matching Guide: https://sites.google.com/site/anhaidgroup/projects/magellan/py_entitymatching (Links to an external site.)

dedupe Slides: Canvas/Files/Hands-on Session/dedupe

dedupe Examples (A how-to-use guide through example programs): https://github.com/dedupeio/dedupe-examples

 

**Notes:**

(1) You have to install all the dependencies first before you can successfully install Anhai's py_entitymatching package

(2) If you try running the dedupe examples from this repo: https://github.com/dedupeio/dedupe-examples, (Links to an external site.) you might run into various issues. Read the dedupe Slides (in Canvas) to troubleshoot these.

# Solution

## Method 1: Anahi's py_entitymatching

In [5]:
# display python version used
!python --version

Python 3.7.9

In [13]:
# import libraries
import py_entitymatching as em
import pandas as pd
import os, sys

### Read Data

In [7]:
# read csv files
A = em.read_csv_metadata('../. ./Data for Assignments/citeseer.csv',low_memory=False) # setting the parameter low_memory to False  to speed up loading.
B = em.read_csv_metadata('../../Data for Assignments/dblp.csv', low_memory=False)

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [22]:
# show number of tuples
len(A), len(B)

(1823978, 2512927)

In [29]:
# find number of null values
A.isnull().sum()

id                        0
title                   132
authors                   1
journal             1823080
month               1823978
year                1453068
publication_type    1822993
dtype: int64

In [23]:
# display head of A
A.head()

,id,title,authors,journal,month,year,publication_type
0,1,An Arithmetic Analogue of Bezouts Theorem,David Mckinnon,NaN,NaN,NaN,NaN
1,2,Thompsons Group F is Not Minimally Almost Convex,"James Belk, Kai-uwe Bux",NaN,NaN,2002.0,NaN
2,3,Cognitive Dimensions Tradeoffs in Tangible User Interface Design,"Darren Edge, Alan Blackwell",NaN,NaN,NaN,NaN
3,4,"ACTIVITY NOUNS, UNACCUSATIVITY, AND ARGUMENT MARKING IN YUKATEKAN SSILA meeting; Special Session...","J. Bohnemeyer, Max Planck, I. Introduction",NaN,NaN,2002.0,NaN
4,5,PS1-6 A6 ULTRASOUND-GUIDED HIFU NEUROLYSIS OF PERIPHERAL NERVES TO TREAT SPASTICITY AND,"J. L. Foley, J. W. Little, F. L. Starr Iii, C. Frantz",NaN,NaN,NaN,NaN

In [24]:
# display head of B
B.head()

,id,title,authors,journal,month,year,publication_type
0,1,"Klaus Tschira Stiftung gemeinntzige GmbH, KTS",Klaus Tschira,NaN,NaN,2012,www
1,2,The SGML/XML Web Page,Robin Cover,NaN,NaN,2006,www
2,3,The Future of Classic Data Administration: Objects + Databases + CASE,Arnon Rosenthal,NaN,NaN,1998,www
3,4,XML Query Data Model,"Mary F. Fernandez, Jonathan Robie",NaN,NaN,2001,www
4,5,The XML Query Algebra,"Peter Fankhauser, Mary F. Fernndez, Ashok Malhotra, Michael Rys, Jrme Simon, Philip Wadler",NaN,NaN,2001,www

In [25]:
# Set 'id' as the keys to the input tables
em.set_key(A, 'id')
em.set_key(B, 'id')

True

### Downsampling

In [14]:
# Downsample the datasets 
sample_A, sample_B = em.down_sample(A, B, size=1000, y_param=1, show_progress=True, n_jobs=-1)

c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_entitymatching\sampler\down_sample.py:354: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  sample_table_splits = pd.np.array_split(sample_table_b, n_jobs)
c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\joblib\externals\loky\process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

In [26]:
# Display the number of tuples in the sampled datasets
len(sample_A), len(sample_B)

(987, 1000)

In [30]:
# find number of null values in table A
sample_A.isnull().sum()

id                    0
title                 0
authors               0
journal             986
month               987
year                855
publication_type    986
dtype: int64

In [31]:
# find number of null values in table B
sample_B.isnull().sum()

id                     0
title                  0
authors                0
journal              581
month               1000
year                   0
publication_type       0
dtype: int64

In [27]:
# Show the metadata of sample_A, sample_B
em.show_properties(sample_A)
em.show_properties(sample_B)

id: 1919862163272
key: id
id: 1919862162888
key: id

In [35]:
sample_A.head()

,id,title,authors,journal,month,year,publication_type
555013,555014,Color Maps and Figures Figure 2.2. Locations of MA Sub-global Assessments. The map shows the loc...,Human Well-being Sub-global,NaN,NaN,NaN,NaN
577545,577546,Session F1F SIMULA 2000: AN INTERNET BASED WORKING ENVIRONMENT FOR THE SUPPORT OF EDUCATIONAL AP...,"Juan Jos Zamora, Ion Larraaga",NaN,NaN,NaN,NaN
133129,133130,Abstract Techniques and Processes for Improving the Quality and Performance of Open-Source Software,"Adam Porter, Cemal Yilmaz, Atif M. Memon, Arvind S. Krishna, Douglas C. Schmidt, Aniruddha Gokhale",NaN,NaN,NaN,NaN
198669,198670,"Architecture, Implementation, and Deployment of a High Performance, High Capacity Resilient Mass...","Terry Jones, Beata Sarnowska, Frank Lovato, David Magee, John Kothe",NaN,NaN,NaN,NaN
1525775,1525776,THE DIGITAL DIVIDE: YOUR ROLE IN BRIDGING THE GAP IN AQUATIC LIBRARY SERVICES FOR THE DISCONNECTED,"Meryl J. Williams, Choo Poh-sze",NaN,NaN,NaN,NaN

In [37]:
sample_B.head()

,id,title,authors,journal,month,year,publication_type
52062,52063,Generating Tests for Control Portion of SDL Specifications.,"Gang Luo, Anindya Das, Gregor von Bochmann",NaN,NaN,1993,inproceedings
1560853,1560854,Feature selection for a cooperative coevolutionary classifier in liver fibrosis diagnosis.,"Catalin Stoean, Ruxandra Stoean, Monica Lupsor, Horia Stefanescu, Radu Badea",Comp. in Bio. and Med.,NaN,2011,article
181219,181220,A Factor-2 Approximation for Labeling Points with Maximum Sliding Labels.,"Zhongping Qin, Binhai Zhu",NaN,NaN,2002,inproceedings
1528667,1528668,Enhancing the search ability of differential evolution through orthogonal crossover.,"Yong Wang, Zixing Cai, Qingfu Zhang",Inf. Sci.,NaN,2012,article
281703,281704,Integrating bioinformatic data sources over the SFSU ER design tools XML databus.,"Yan Liu, Sorna Vincent, Marguerite C. Murphy",NaN,NaN,2006,inproceedings

### Blocking

In [54]:
# Instantiate overlap blocker object
ob = em.OverlapBlocker()

# Specify the tokenization to be 'word' level and set overlap_size
C1 = ob.block_tables(sample_A, sample_B, 'title', 'title', word_level=True, overlap_size=5 , 
                    l_output_attrs=['title', 'authors', 'journal', 'year'], 
                    r_output_attrs=['title','authors', 'journal', 'year'],
                    show_progress=False)

c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_stringsimjoin\utils\converter.py:99: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if col_type == pd.np.object:
c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_entitymatching\blocker\overlap_blocker.py:258: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l_df[l_dummy_overlap_attr] = l_df[l_overlap_attr]
c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_entitymatching\blocker\overlap_blocker.py:259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df[r_dummy_overlap_attr] = r_df[r_overlap_attr]
c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_entitymatching\blocker\overlap_blocker.py:615: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[overlap_attr] = values
c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_stringsimjoin\utils\validation.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if attr_type != pd.np.object:

In [55]:
len(C1)

1963

In [56]:
C1.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_authors,ltable_journal,ltable_year,rtable_title,rtable_authors,rtable_journal,rtable_year
0,0,233224,52063,12:41 PM 6/18/99 Page 1 GENERATING TESTS FOR CONTROL PORTION OF,"Sdl Specifications, Gang Luo, Anindya Das, Gregor V. Bochmann",NaN,NaN,Generating Tests for Control Portion of SDL Specifications.,"Gang Luo, Anindya Das, Gregor von Bochmann",NaN,1993
1,1,549580,1560854,Co-evolutionary Perspectives in Practice? A Case Study of an Emerging Organizational Form Prepar...,"Edited Arie, Y. Lewin, Henk W. Volberda, Benjamin Powell, Johannes Pennings",NaN,2001.0,Feature selection for a cooperative coevolutionary classifier in liver fibrosis diagnosis.,"Catalin Stoean, Ruxandra Stoean, Monica Lupsor, Horia Stefanescu, Radu Badea",Comp. in Bio. and Med.,2011
2,2,1025416,1560854,A Multiobjective Genetic Algorithm for Feature Selection and Data Base Learning in Fuzzy-Rule Ba...,"O. Cordna, F. Herreraa, M. J. Jesusb, L. Magdalenac, A. M. Snchezd, P. Villard",NaN,NaN,Feature selection for a cooperative coevolutionary classifier in liver fibrosis diagnosis.,"Catalin Stoean, Ruxandra Stoean, Monica Lupsor, Horia Stefanescu, Radu Badea",Comp. in Bio. and Med.,2011
3,3,343013,181220,Abstract A New Approximation Algorithm for Labeling Weighted Points with Sliding Labels,"Thomas Erlebach, Torben Hagerup, Klaus Jansen, Moritz Minzlaff Alex, Er Wolff",NaN,NaN,A Factor-2 Approximation for Labeling Points with Maximum Sliding Labels.,"Zhongping Qin, Binhai Zhu",NaN,2002
4,4,224823,281704,Integrating XML Data Sources using RDF/S Schemas: The ICS-FORTH Semantic Web Integration Middlew...,"Ioanna Koffina, Giorgos Serfiotis, Vassilis Christophides, Val Tannen, Alin Deutsch",NaN,NaN,Integrating bioinformatic data sources over the SFSU ER design tools XML databus.,"Yan Liu, Sorna Vincent, Marguerite C. Murphy",NaN,2006

In [ ]:
# define black box function
def address_address_function(x, y):
    # x, y will be of type pandas series
    
    # get name attribute
    x_address = x['address']
    y_address = y['address']
    # get the city
    x_split, y_split = x_address.split(','), y_address.split(',')
    x_city = x_split[len(x_split) - 1]
    y_city = y_split[len(y_split) - 1]
    # check if the cities match
    if x_city != y_city:
        return True
    else:
        return False

In [ ]:
# Instantiate blackbox blocker
bb = em.BlackBoxBlocker()
# Set the black box function
bb.set_black_box_function(address_address_function)

In [ ]:
C2 = bb.block_tables(A, B, l_output_attrs=['name', 'address'], r_output_attrs=['name', 'address'])

### Generating Features for Manually

In [57]:
## Getting Attribute Types
atypes1 = em.get_attr_types(sample_A)
atypes2 = em.get_attr_types(sample_B)

c:\users\rmartinez4\anaconda3\envs\py37\lib\site-packages\py_entitymatching\feature\attributeutils.py:191: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if returned_type == bool or returned_type == pd.np.bool_:
Column month does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column month
Column month does not seem to qualify as any atomic type. It may contain all NaNs. Please update the values of column month

In [63]:
atypes1.keys()

dict_keys(['id', 'title', 'authors', 'journal', 'month', 'year', 'publication_type', '_table'])

In [61]:
atypes2.keys()

dict_keys(['id', 'title', 'authors', 'journal', 'month', 'year', 'publication_type', '_table'])

In [79]:
## Getting Attribute Correspondences
block_c = em.get_attr_corres(sample_A, sample_B)
id(A), id(block_c['ltable']), id(B), id(block_c['rtable'])

(1919525555656, 1919862163272, 1920323417032, 1919862162888)

In [80]:
block_c['corres']

[('id', 'id'),
 ('title', 'title'),
 ('authors', 'authors'),
 ('journal', 'journal'),
 ('month', 'month'),
 ('year', 'year'),
 ('publication_type', 'publication_type')]

In [83]:
## Getting tokenizers
# for blocking
tok = em.get_tokenizers_for_blocking()
tok

{'qgm_2': <function py_entitymatching.feature.tokenizers._make_tok_qgram.<locals>.tok_qgram>,
 'qgm_3': <function py_entitymatching.feature.tokenizers._make_tok_qgram.<locals>.tok_qgram>,
 'wspace': <function py_entitymatching.feature.tokenizers.tok_wspace>,
 'alphabetic': <function py_entitymatching.feature.tokenizers.tok_alphabetic>,
 'alphanumeric': <function py_entitymatching.feature.tokenizers.tok_alphanumeric>,
 'dlm_dc0': <function py_entitymatching.feature.tokenizers._make_tok_delim.<locals>.tok_delim>}

In [84]:
## Getting Similarity Functions
# for blocking
sim = em.get_sim_funs_for_blocking()
sim

{'affine': <function py_entitymatching.feature.simfunctions.affine>,
 'hamming_dist': <function py_entitymatching.feature.simfunctions.hamming_dist>,
 'hamming_sim': <function py_entitymatching.feature.simfunctions.hamming_sim>,
 'lev_dist': <function py_entitymatching.feature.simfunctions.lev_dist>,
 'lev_sim': <function py_entitymatching.feature.simfunctions.lev_sim>,
 'jaro': <function py_entitymatching.feature.simfunctions.jaro>,
 'jaro_winkler': <function py_entitymatching.feature.simfunctions.jaro_winkler>,
 'needleman_wunsch': <function py_entitymatching.feature.simfunctions.needleman_wunsch>,
 'smith_waterman': <function py_entitymatching.feature.simfunctions.smith_waterman>,
 'overlap_coeff': <function py_entitymatching.feature.simfunctions.overlap_coeff>,
 'jaccard': <function py_entitymatching.feature.simfunctions.jaccard>,
 'dice': <function py_entitymatching.feature.simfunctions.dice>,
 'monge_elkan': <function py_entitymatching.feature.simfunctions.monge_elkan>,
 'cosine': <function py_entitymatching.feature.simfunctions.cosine>,
 'exact_match': <function py_entitymatching.feature.simfunctions.exact_match>,
 'rel_diff': <function py_entitymatching.feature.simfunctions.rel_diff>,
 'abs_norm': <function py_entitymatching.feature.simfunctions.abs_norm>}

In [86]:
## Getting Features
feature_table = em.get_features(sample_A, sample_B, atypes1, atypes2, block_c, tok, sim)
feature_table.head()

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,id_id_exm,id,id,None,None,exact_match,<function id_id_exm at 0x000001BEFB573948>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,id_id_anm,id,id,None,None,abs_norm,<function id_id_anm at 0x000001BEFB573B88>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x000001BEFB573CA8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,id_id_lev_sim,id,id,None,None,lev_sim,<function id_id_lev_sim at 0x000001BEFB573DC8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,journal_journal_jac_qgm_3_qgm_3,journal,journal,qgm_3,qgm_3,jaccard,<function journal_journal_jac_qgm_3_qgm_3 at 0x000001BEFB573EE8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True