### Resources for python

Here are some of the best resources for Python on the web. 

#### Learning resources

* [Interactive Python](http://interactivepython.org/) An online book that includes embedded live excercises. Fun!
* [Dive Into Python](http://diveintopython3.problemsolving.io/) An excellent, thorough book.
* [tutorial point](http://www.tutorialspoint.com/python/index.htm) A resource that is useful when you want an explanation of one concept, rather than a whole chapter.

There are endless other learning resources, you can find some more on the [class resources webpage](https://mas-dse.github.io/DSE200/resources/)

#### Reference resources

Typically, if you have a question about python, you can find an answer by using google. The following sites will usually have the best answer.

* [Official python documentation](https://docs.python.org/3/library/)
* [Quick Reference from Tutorial Point](http://www.tutorialspoint.com/python/python_quick_guide.htm)

### Basic types

The main basic data types in python are numbers (`int`s and `float`s) `bool`ean and `str`ings.

In [2]:
print(type(123),type(123.0),type('123'),type(True))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [3]:
# Strings can be enclosed by '," or """
print(" this is a string enclosed by \"\" not '' ")
print(' this string is not enlosed by "" ')
print('This string spans \n two lines\n\n')
print("""this string is 
a whole paragraph, ' and " can be used freely
and can span lines without using \\
""")

 this is a string enclosed by "" not ''
 this string is not enlosed by ""
This string spans
 two lines


this string is
a whole paragraph, ' and " can be used freely
and can span lines without using \

### The numbers support all of the standard mathematical operations

In [4]:
123+2

125

In [5]:
123-2.0  # if one of the operands is a float, the result is a float.

121.0

In [6]:
123/2    # integer division

61.5

In [7]:
# the output from the last line in a cell is printed automatically
130.0/2
123/2.0  # floating point division

61.5

In [8]:
# In order to print(a result that is not in the last line use "print"
print(130.0/2)
123/2.0  # floating point division

65.0

61.5

In [9]:
#Ending a print(command) with a comma supresses the carriage-return
print(1),
print(2),
print(3)

1
2
3

In [10]:
# i % j computes the remaineder from dividing i by j (integer division)
print(123 % 5,',', 123-(123/5)*5)   # the 'print' command is redundant in the last line of a cell.

3 , 0.0

In [11]:
11.0/2

5.5

In [12]:
# Summing of strings means concatanation 
x='123'+'0'
x

'1230'

In [13]:
# incrementing or decrementing a variable
a=0; b=0 # yes, you can have more than one command in a line, but it is usually considered bad style
a+=1; a+=1 # equivalent to `a=a+1`
b-=2; b-=3
print(a,b)

2 -5

In [14]:
# casting a string as an integer
x,int(x)-1

('1230', 1229)

In [15]:
# casting an integer as a string
str(15)+'$'

'15$'

#### Exercise
Write a statement that, given two integers, a and b, outputs the string
> a + b = a+b

for example, if a=15 and b=3, output 
> 15 + 3 = 18

In [16]:
a=150
b=3
# your solution here

### Booleans and conditions

In [49]:
print(1==1, 1==2, 1<2, 1<1, 1<=1,1>=0.99)

True False True False True True

In [50]:
print(type(1==1))

<class 'bool'>

In [51]:
True or False, True and False, not False

(True, False, True)

In [52]:
# testing whether a number is a multiple of 7
a=343
a % 7 == 0

True

In [53]:
'abc'<'abd'

True

### String opeations

In [54]:
'1'+'2' # Concatanation

'12'

In [55]:
word='Lough'

In [56]:
'gg' in word # test for substring

False

In [57]:
word.find('gg')

-1

In [58]:
word,word.upper(), word.lower()

('Lough', 'LOUGH', 'lough')

In [59]:
word[1:],word[:-1]   # get all but the first, or all but the last characters of the word

('ough', 'Loug')

In [60]:
text='   this is it   '
text.strip(),text.lstrip(),text.rstrip()

('this is it', 'this is it   ', '   this is it')

### Lists and Tuples ###
In the next cell we read the file, parse it according to `fields`, and create a dictionary of lists, one for each field.

In [61]:
A=[4,3,2,1]
A[1]='lll'
A

[4, 'lll', 2, 1]

In [62]:
#tuples are not mutable (immutable)
# When we try to change values in tuple, we get error : 'tuple' object does not support item assignment
B=(4,3,2,1)
B[1]='lll'
B

TypeError: 'tuple' object does not support item assignment

In [63]:
## This list of tuples defines the names and locations of the elements.
fields=[
    ('caseid', 1, 12, int),
    ('nbrnaliv', 22, 22, int),
    ('babysex', 56, 56, int),
    ('birthwgt_oz', 59, 60, int),
    ('prglength', 275, 276, int),
    ('outcome', 277, 277, int),
    ('birthord', 278, 279, int),
    ('agepreg', 284, 287, int),
    ('finalwgt', 423, 440, float),
]
fields
# note the types of the 4 fields, especially the last one

[('caseid', 1, 12, int),
 ('nbrnaliv', 22, 22, int),
 ('babysex', 56, 56, int),
 ('birthwgt_oz', 59, 60, int),
 ('prglength', 275, 276, int),
 ('outcome', 277, 277, int),
 ('birthord', 278, 279, int),
 ('agepreg', 284, 287, int),
 ('finalwgt', 423, 440, float)]

In [64]:
type(fields)

list

In [65]:
print(fields[2])
print(type(fields[2]))

('babysex', 56, 56, <class 'int'>)
<class 'tuple'>

In [66]:
print(fields[2][0])
print(type(fields[2][0]))

babysex
<class 'str'>

### Sets
Sets are mutable collections of objects in which each object can appear at most once.

Sets are unordered, sorting them creates a list.

In [67]:
s=set([2,99,2,1,4,99,99]) # you can make sets from lists
s

{1, 2, 4, 99}

In [68]:
l=list(s)   # and lists from sets
l

[1, 2, 99, 4]

In [69]:
t=set(['a','b','a',2])
t | s   # you can take the OR (union) of two sets

{1, 2, 4, 99, 'a', 'b'}

In [70]:
# You can take the intersection of two sets
s & t

{2}

In [71]:
t-s, s-t # you can find all of the elements that are in one set but not the other

({'a', 'b'}, {1, 4, 99})

Operation	| Equivalent | Result
-------------------|---------------|---------------------
len(s)	 	|     -      | cardinality of set s 
x in s	 	|     -      | test x for membership in s
x not in s	|     -      | 	test x for non-membership in s
s.issubset(t) |	s <= t	| test whether every element in s is in t
s.issuperset(t) | s >= t | test whether every element in t is in s
s.union(t) | s &#124; t	| new set with elements from both s and t
s.intersection(t)	| s & t	| new set with elements common to s and t
s.difference(t)	| s - t	| new set with elements in s but not in t
s.symmetric_difference(t)	| s ^ t |	new set with elements in either s or t but not both
s.copy()	 	| - | new set with a shallow copy of s

### Mutable and immutable objects, shallow and deep copies

* **Lists are Mutable** the object references *can* be changed.
* **Tuples are immutable** the object references *cannot* be changed.

### The "Import" command
the `import` command is used to load external modules. Those modules can be established libraries, code you downloaded from github, or code you wrote yourself. There are several styles of `import`:
* `import string` - you later refer to functions using `string.find`
* `import string as str` - you later refer to functions using `str.find`
* `from string import find` - you later refer to function using `find`
* `from string import *` - you later refer to function in `string` using it's name alone.

In [72]:
from copy import deepcopy
import copy
#lists are mutable:
fields_copy=copy.copy(fields)
fields_copy[3]='something else'

fields,fields_copy

([('caseid', 1, 12, int),
  ('nbrnaliv', 22, 22, int),
  ('babysex', 56, 56, int),
  ('birthwgt_oz', 59, 60, int),
  ('prglength', 275, 276, int),
  ('outcome', 277, 277, int),
  ('birthord', 278, 279, int),
  ('agepreg', 284, 287, int),
  ('finalwgt', 423, 440, float)],
 [('caseid', 1, 12, int),
  ('nbrnaliv', 22, 22, int),
  ('babysex', 56, 56, int),
  'something else',
  ('prglength', 275, 276, int),
  ('outcome', 277, 277, int),
  ('birthord', 278, 279, int),
  ('agepreg', 284, 287, int),
  ('finalwgt', 423, 440, float)])

#### Assignment, copy and deepcopy

We want to keep the list `fields` unchanged, because we will use it later to parse the file.

We want to create a *deep copy* of the list. The three main ways to create a new list are:

1. **Assignment:** `list2=list1` this does not create a new data structure, instead, it creates a pointer to an existing data structure.
2. **Shallow Copy:** `list2=copy.copy(list1)` list2 is a new container, but the elements in the container are not copied.
3. **Deep Copy:** `list2=copy.deepcopy(list1)` list2 is a new container and each element is a new object, continuing recursively.


[More on deep and shallow copies](https://docs.python.org/2/library/copy.html)

In [73]:
#tuples are not mutable (immutable)
fields_copy[2][0]=15

TypeError: 'tuple' object does not support item assignment

In [74]:
# slices
L=range(10)
L

range(0, 10)

In [75]:
print('L=',L)
print('L[3:]=',L[3:])

L= range(0, 10)
L[3:]= range(3, 10)

In [76]:
#counting form the end of the list
print(L[-3:])
print(L[-6:])

range(7, 10)
range(4, 10)

#### Exercise
Write a statement that, given a list L and an integer k would print the last k elements of the List

In [ ]:
# for example given list L = [4,3,9,'t','we', 10] and k = 4, we need to print - [9,'t','we',10]

In [19]:
L=['a','b',1,2]
k=2
# for this input, the output should be [1,2]
# your answer solution here

### List Operations

In [78]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.
A=[3,1,2]
B=['a','c','c','b']
# Concatanating
print('A+B=',A+B)

A+B= [3, 1, 2, 'a', 'c', 'c', 'b']

In [79]:
C=(1,'a','c')
C=C+C
print('C=',C)

C= (1, 'a', 'c', 1, 'a', 'c')

In [80]:
# A list of lists
D=(A,A,B,3)
print('D=',D)

D= ([3, 1, 2], [3, 1, 2], ['a', 'c', 'c', 'b'], 3)

In [81]:
# appends in place, does not return anything - can only be used on *mutable* objects
print(B.append('e'))
print(B)

None
['a', 'c', 'c', 'b', 'e']

In [82]:
# appending to the end of a list.
E=['a','b']
E.append(5)
print('E=',E)

E= ['a', 'b', 5]

In [83]:
# A list can even have itself as a member (remember, it is just a pointer)
F=['a','b']
F.append(F)
print('F=',F)

F= ['a', 'b', [...]]

#### Sorting

Two operations for sorting the elements in a list/tuple
1. `sorted(A)` returns a list containing the values of the list or tuple `A` in sorted order.
1. `A.sort()` sorts the elements of the list A **in place**, does not return anything. Can operate only on lists (mutable), not tuples (immutable).

In [84]:
# *sort* Returns a new list that is a sorted version

# We can apply sorted on list with numerical values
print('sorted(A)=',sorted(A))

# we can apply sorted on list with letters and words
print('sorted(B)=',sorted(B))

# But we can't apply sorted on list with both numerical value and words since order is not defined
# We get error : TypeError: '<' not supported between instances of 'str' and 'int'
print('sorted(C)=',sorted(C))

sorted(A)= [1, 2, 3]
sorted(B)= ['a', 'b', 'c', 'c', 'e']

TypeError: '<' not supported between instances of 'str' and 'int'

In [85]:
print(sorted(tuple(B)))

# We get error : AttributeError: 'tuple' object has no attribute 'sort' for the following
# since .sort() can operate only on lists (mutable), not tuples (immutable)
print(tuple(B).sort())

['a', 'b', 'c', 'c', 'e']

AttributeError: 'tuple' object has no attribute 'sort'

In [86]:
# A.sort() sorts the elements of the list A in place
print(A.sort(),B.sort())
print(A,B)

None None
[1, 2, 3] ['a', 'b', 'c', 'c', 'e']

### More about Sorting
Sort/sorted have other useful parameters.

Googling for `python sorted` or `python sort` you find (among many others) the following page
https://docs.python.org/2/library/functions.html#sorted

#### sorted(iterable[, cmp[, key[, reverse]]])

Return a new sorted list from the items in iterable.

The optional arguments cmp, key, and reverse have the same meaning as
those for the list.sort() method (described in section Mutable
Sequence Types).

cmp specifies a *custom comparison function* of two arguments (iterable
elements) which should return a negative, zero or positive number
depending on whether the first argument is considered smaller than,
equal to, or larger than the second argument. The default value is None.

key specifies a function of one argument that is used to extract a
comparison key from each list element: key=str.lower. The default
value is None (compare the elements directly).

reverse is a boolean value. If set to True, then the list elements are
sorted as if each comparison were reversed.

In general, the key and reverse conversion processes are much faster
than specifying an equivalent cmp function. This is because cmp is
called multiple times for each list element while key and reverse
touch each element only once. Use functools.cmp_to_key() to convert an
old-style cmp function to a key function.

For sorting examples and a brief sorting tutorial, see [Sorting HowTo](https://wiki.python.org/moin/HowTo/Sorting/)

### for loops
For loops are a common way to iterate over the elements of a list

One unique feature of python is that code blocks are not surrounded by `{}` oe `begin`,`end`. Instead, python uses indentation,
The lines inside a block have to be indented by a tab, or by 4 spaces, relative to the surrounding commands.

While this might seem unintuitive at first, it encourages writing more readable code, over time, you'd learn to love it!

In [87]:
L=['a','b','c']
# note the : and the <tab> they are both necessary
# note that the loop does not have an "end" command
for l in L:
    print(l+'='+l)

a=a
b=b
c=c

### The range command creates a list of integers:
> **range(end)** - generates the list [0,1,...,end-1]

> **range(start,end)** generates the list [start,...,end-1]

> **range(start,end,step)** generates the list [start,start+step,start+2*step,...] ending at the largest element that is smaller than end

In [88]:
# another way to achieve the same result is
for i in range(len(L)):
    l=L[i]
    print(i,l+'='+l)

0 a=a
1 b=b
2 c=c

In [89]:
# print(only the odd numbered elements
for i in range(1,len(L),1):
    l=L[i]
    print(i,l+'='+l)

1 b=b
2 c=c

In [90]:
#looping over the "fields" list
for field in fields:
    print(field)

('caseid', 1, 12, <class 'int'>)
('nbrnaliv', 22, 22, <class 'int'>)
('babysex', 56, 56, <class 'int'>)
('birthwgt_oz', 59, 60, <class 'int'>)
('prglength', 275, 276, <class 'int'>)
('outcome', 277, 277, <class 'int'>)
('birthord', 278, 279, <class 'int'>)
('agepreg', 284, 287, <class 'int'>)
('finalwgt', 423, 440, <class 'float'>)

### If-Then-Else

A conditional statement can take any of the following forms.

In [91]:
A=231
if A<30:
    print('A is smaller than 30')
else:
    print('A is equal to or larger than 30')

A is equal to or larger than 30

In [92]:
if A>30:
    print('A is larger than 30')
elif A==22:
    print('A = 22')
else:
    print('Catchall condition')

A is larger than 30

### Combining loops and conditionals ###
Combining for loops and conditionals is one of the main work-horses of any procedural language.

In [93]:
L=[1,'2',3,'a',22,'green',[],(1,2,3)]
for l in L:
    if type(l)==str:
        print(l,'is a string')
    else:
        print(l,'is not a string')

1 is not a string
2 is a string
3 is not a string
a is a string
22 is not a string
green is a string
[] is not a string
(1, 2, 3) is not a string

In [94]:
# use "continue" when you want to skip a single iteration
# here is code that would print(only the strings, ignoring items of other types,
# it also prints the location of the element in the list.
i=-1   # Starting at -1 because the python convension is that the index of the first element is 0
for l in L:
    i+=1   # a counter indicating the location of l in L
    if type(l)!=str:
        continue
    print(i,l)

1 2
3 a
5 green

In [95]:
# use "break" when you want to quit the loop early
# here is code to find and print(the first string in the list
for l in L:
    if type(l)==str:
        print(l)
        break

2

### Dictionaries
Dictionaries, also called "hash tables" are data structures that map keys into values.
The value can be anything. The key has to be **immutable**, for example, numbers, strings or tuples.
A key can appear only once, which means that the keys form a **set** (see above)

In [96]:
# columns is initialized as a dictionary
columns={}
# an empty list is created for each field
for (field, start, end, cast) in fields:
    columns[field]=[]

In [97]:
columns

{'caseid': [],
 'nbrnaliv': [],
 'babysex': [],
 'birthwgt_oz': [],
 'prglength': [],
 'outcome': [],
 'birthord': [],
 'agepreg': [],
 'finalwgt': []}

In [98]:
# An explicit definition of a dictionary:
Dict={'dan':12,'john':10,'sarah':9}
Dict['judy']=3
Dict

{'dan': 12, 'john': 10, 'sarah': 9, 'judy': 3}

In [99]:
#list the keys in the dictionary
for key in columns.keys():
    # note the comma at the end of the print(command)
    print(key)

caseid
nbrnaliv
babysex
birthwgt_oz
prglength
outcome
birthord
agepreg
finalwgt

### Not everything can be used as a key
Only immutable objects can be used as keys. 
Lists cannot be used as keys, but tuples can!

Immutable objects are "hashable"

In [100]:
Dict[('john','doe')]=23
print(Dict)

{'dan': 12, 'john': 10, 'sarah': 9, 'judy': 3, ('john', 'doe'): 23}

In [103]:
# lists are mutable, cannnot be used as keys in dictionary
Dict[['james','brown']]=2

TypeError: unhashable type: 'list'

In [105]:
# dict is mutable, cannnot be used as keys in dictionary
Dict[{'james':'brown'}]=2

TypeError: unhashable type: 'dict'

### We now go back to parsing the maternity data file
First, we have a look at the first two lines of the data file

In [106]:
# This is an example of issuing a system command from within iPython, more on that later.
!head -2 ../data/ThinkStatsData/2002FemPreg.dat

           1 1     6 1     11093 1084     9 039 9   0  1 813             1093 13837                        1                5                                                                        116610931166 9201093                111             3    1   12  11         5391 110933316108432411211     2995 1212 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231
           1 2     6 1     11166 1157     9 039 9   0  2 714             1166  6542112  2  05 1 4  5       51               1   41  4  201 20                                                        1166109311661093116611661231        111             3    1   14  11         5391 211663925115738501211 2 432 8701414 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231

##### Next, we should open the file to read from, we will talk about files in detail later on.

In [107]:
# The data is read from the file and inserted into the table.
file=open('../data/ThinkStatsData/2002FemPreg.dat','r')

#### Read the first line into a the variable "line"

In [108]:
line = file.readline()
line

'           1 1     6 1     11093 1084     9 039 9   0  1 813             1093 13837                        1                5                                                                        116610931166 9201093                111             3    1   12  11         5391 110933316108432411211     2995 1212 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231\n'

In [109]:
for (field, start, end, cast) in fields:
    s = line[start-1:end]
    val = cast(s)
    columns[field].append(val)

In [110]:
columns

{'caseid': [1],
 'nbrnaliv': [1],
 'babysex': [1],
 'birthwgt_oz': [13],
 'prglength': [39],
 'outcome': [1],
 'birthord': [1],
 'agepreg': [3316],
 'finalwgt': [6448.271111704751]}

### Exceptions
When we read a data file there is always a chance that some of the lines in the file are corrupted. The chance approaches certainty as the length of the file increases to gigabytes.

To demonstrate what corruption might cause, lets corrupt the first line.

In [111]:
#Strings are immutable, so we have to construct the corrupted one
print(line)
line=line[:21]+'*'+line[22:]
print(line)

           1 1     6 1     11093 1084     9 039 9   0  1 813             1093 13837                        1                5                                                                        116610931166 9201093                111             3    1   12  11         5391 110933316108432411211     2995 1212 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231

           1 1     6 *     11093 1084     9 039 9   0  1 813             1093 13837                        1                5                                                                        116610931166 9201093                111             3    1   12  11         5391 110933316108432411211     2995 1212 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231

In [112]:
# columns is initialized as a dictionary
columns={}
# an empty list is created for each field
for (field, start, end, cast) in fields:
    columns[field]=[]
    
for (field, start, end, cast) in fields:
    s = line[start-1:end]
    val = cast(s)
    columns[field].append(val)
columns

ValueError: invalid literal for int() with base 10: '*'

In [113]:
columns

{'caseid': [1],
 'nbrnaliv': [],
 'babysex': [],
 'birthwgt_oz': [],
 'prglength': [],
 'outcome': [],
 'birthord': [],
 'agepreg': [],
 'finalwgt': []}

The program throws and exception and crashes. Only the element "caseid" is read. Nothing else

**unless** we handle the exception inside the program.

In order to handle the exception, we surround the offending lines with a **try/except** pair as follows:

In [114]:
# columns is initialized as a dictionary
columns={}
# an empty list is created for each field
for (field, start, end, cast) in fields:
    columns[field]=[]
    
for (field, start, end, cast) in fields:
    try:
        s = line[start-1:end]
        val = cast(s)
    except ValueError:
        print('bad field:',field,'value is "%s"'%s)
        val = None
    columns[field].append(val)
columns

bad field: nbrnaliv value is "*"

{'caseid': [1],
 'nbrnaliv': [None],
 'babysex': [1],
 'birthwgt_oz': [13],
 'prglength': [39],
 'outcome': [1],
 'birthord': [1],
 'agepreg': [3316],
 'finalwgt': [6448.271111704751]}

Because we use `try/except` we ignore the ill-formed dields but read all of the good ones.

### Comma-Separated values, split and join
These days, one of the most common open format for exporting and importing data is *comma-separated-values* or *.csv*.

#### Advantages and disadvantages of the csv format relative to the fixed locations format

**Advantages**
1. Easier to read, lines are typically shorter.
2. Missing values ar represented by consecutive commas.
3. No need to decide ahead of time on the number of digits/letters in each field.
4. No need to encode the field locations, just types.

**Disadvantages**
1. Fixed length lines can be processed more efficiently.

#### Handling CSV files.
There are two commands in python to handle csv files: `split` and `join`

* `','.join(list_)` is a function that takes as input a list of strings and outputs a new string that is the concatanation of the strings in `list_`, separated by commas. The comman `','` can be relaced by any other string
* `s.split(',')` is the reverse of `join`, it is a function that takes as input a string and outputs

In [115]:
list_=['a','b','c','d']
s=','.join(list_)
s

'a,b,c,d'

In [116]:
s.split(',')

['a', 'b', 'c', 'd']

In [117]:
fields=[('index',int),
        ('decription',str),
        ('low',float),
        ('high',float)
        ]
Text= """1,sunny,60.2,75
2,cloudy,40,63.2
3,overcast,50.3,55
"""

In [118]:
lines=Text.splitlines()
lines

['1,sunny,60.2,75', '2,cloudy,40,63.2', '3,overcast,50.3,55']

In [119]:
columns={}
for field in fields:
    columns[field[0]]=[]
    
for line in lines:
    elements=line.split(',')
    print(elements)
    for i in range(len(fields)):
        (name,cast)=fields[i]
        columns[name].append(cast(elements[i]))

print(columns)

['1', 'sunny', '60.2', '75']
['2', 'cloudy', '40', '63.2']
['3', 'overcast', '50.3', '55']
{'index': [1, 2, 3], 'decription': ['sunny', 'cloudy', 'overcast'], 'low': [60.2, 40.0, 50.3], 'high': [75.0, 63.2, 55.0]}

### List comprehension

Python provides a concise way to express iterations. This is particularly useful when using the python interpreter. Using list comprehension one can define a complicated computation in a single line.

In [120]:
L=[]
for i in range(10):
    L.append((i,i*i))
L

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [121]:
### a simple example of list comprehension
[(i,i*i) for i in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [122]:
# A more involved example
','.join([name for (name,cast) in fields])

'index,decription,low,high'

In [123]:
# comprehensions can also include 
[i for i in range(20) if i%3==0]

[0, 3, 6, 9, 12, 15, 18]

### Dictionary Comprehension
Similar to list comprehensions, there are dictionary comprehensions that defines, in a single line, a for loop
that defines a whole table.

In [124]:
a=7
{i:a for (i,j) in [(1,1),(1,2)]}

{1: 7}

In [125]:
# plain text is coded in a system called ASCII. 
# Here we create a table for translating from ASCII numbers to characters and another going the other way

ascii2char = {i:chr(i) for i in range(34,127)}
char2ascii = {chr(i):i for i in range(34,127)}
print(ascii2char)
print(char2ascii)

{34: '"', 35: '#', 36: '$', 37: '%', 38: '&', 39: "'", 40: '(', 41: ')', 42: '*', 43: '+', 44: ',', 45: '-', 46: '.', 47: '/', 48: '0', 49: '1', 50: '2', 51: '3', 52: '4', 53: '5', 54: '6', 55: '7', 56: '8', 57: '9', 58: ':', 59: ';', 60: '<', 61: '=', 62: '>', 63: '?', 64: '@', 65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z', 91: '[', 92: '\\', 93: ']', 94: '^', 95: '_', 96: '`', 97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z', 123: '{', 124: '|', 125: '}', 126: '~'}
{'"': 34, '#': 35, '$': 36, '%': 37, '&': 38, "'": 39, '(': 40, ')': 41, '*': 42, '+': 43, ',': 44, '-': 45, '.': 46, '/': 47, '0': 48, '1': 49, '2': 50, '3': 51, '4': 52, '5': 53, '6': 54, '7': 55, '8': 56, '9': 57, ':': 58, ';': 59, '<': 60, '=': 61, '>': 62, '?': 63, '@': 64, 'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90, '[': 91, '\\': 92, ']': 93, '^': 94, '_': 95, '`': 96, 'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122, '{': 123, '|': 124, '}': 125, '~': 126}

In [126]:
# we can also use a condition in the dictionary comprehension. Here we use a condition to select only the
# letters that are upper-case

upper2ascii = {i:chr(i) for i in range(34,127) if chr(i).isupper()}
print(upper2ascii)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}